/*-----------------------------*\

	This file is used to create your grid

\*-----------------------------*/

/*-----------------------------*\
	$Grid Generator

	@import is made from the framework

\*-----------------------------*/

@import 'grid-generator.less';

/*-----------------------------*\

	$Variables
		Need to provide 3 of 4 of the below

		@column-width:  	60px;   	total width of the column
		@gutter:        	20px;   	total gutter width ( col | gutter | col )
		@columns:       	12;     	number of desired columns
		@total-width:   	960px;  	the container width

		@grid-type:     	fixed;		Options: fixed, fluid

\*-----------------------------*/

/* Default 960 grid */
@column-width: 	60px;
@gutter: 		20px;
@columns: 		12;
// @total-width: 	960px;
@grid-type:  	fluid;
