/*-----------------------------*\

	This file is used to create your grid

\*-----------------------------*/
/*-----------------------------*\
	$Grid Generator

	@import is made from the framework

\*-----------------------------*/
.col-2p5 {
  width: 18.75%;
  float: left;
  margin: 0 1.0416666666666665% 20px;
}
.container-9 {
  float: left;
  width: 75%;
  margin: 0;
  margin-bottom: 20px;
}
/* Containers */
.container,
.row {
  max-width: 960px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/* Shared Styles */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  margin: 0 1.0416666666666665% 20px;
}
/* Columns */
.col-1 {
  width: 6.25%;
}
.col-2 {
  width: 14.583333333333334%;
}
.col-3 {
  width: 22.916666666666664%;
}
.col-4 {
  width: 31.25%;
}
.col-5 {
  width: 39.58333333333333%;
}
.col-6 {
  width: 47.91666666666667%;
}
.col-7 {
  width: 56.25%;
}
.col-8 {
  width: 64.58333333333334%;
}
.col-9 {
  width: 72.91666666666666%;
}
.col-10 {
  width: 81.25%;
}
.col-11 {
  width: 89.58333333333334%;
}
.col-12 {
  width: 97.91666666666666%;
}
/* Push Options */
.push-1 {
  margin-left: 9.375%;
}
.push-2 {
  margin-left: 17.708333333333336%;
}
.push-3 {
  margin-left: 26.041666666666668%;
}
.push-4 {
  margin-left: 34.375%;
}
.push-5 {
  margin-left: 42.70833333333333%;
}
.push-6 {
  margin-left: 51.041666666666664%;
}
.push-7 {
  margin-left: 59.375%;
}
.push-8 {
  margin-left: 67.70833333333334%;
}
.push-9 {
  margin-left: 76.04166666666666%;
}
.push-10 {
  margin-left: 84.375%;
}
.push-11 {
  margin-left: 92.70833333333334%;
}
.push-12 {
  margin-left: 101.04166666666667%;
}
/*
    Micro Clearfix by Nicolas Gallagher
    http://nicolasgallagher.com/micro-clearfix-hack/
*/
.cf {
  overflow: visible;
}
.cf:before,
.cf:after {
  content: " ";
  display: block;
}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
/*-----------------------------*\

	$Variables
		Need to provide 3 of 4 of the below

		@column-width:  	60px;   	total width of the column
		@gutter:        	20px;   	total gutter width ( col | gutter | col )
		@columns:       	12;     	number of desired columns
		@total-width:   	960px;  	the container width

		@grid-type:     	fixed;		Options: fixed, fluid

\*-----------------------------*/
/* Default 960 grid */
