body {
	-webkit-text-size-adjust: none;
}

.mobile-show,
.tablet-show {
	display: none;
}

img {
	max-width: 100%;
}


@media (max-height: 764px) {

	.slideshow .slides {
		max-height: 350px;
	}

}

@media (max-width: 1024px) {

	.dev-body:before {
		display: block;
		background-color: yellow;
		content: "max-width: 1024px";
		text-align: center;
		font-size: 14px;
		padding: 5px;
	}

	.row {
		width: 960px;
	}

}



@media (max-width: 960px) {

	.dev-body:before {
		content: "max-width: 960px";
	}

	.row {
		width: 800px;
	}

	.lap-col-12 {
		width: 97.91666666666666%;
		margin: 0 1.0416666666666665% 20px;
	}

}



@media (max-width: 800px), (max-width: 768px) {

	.dev-body:before {
		content: "max-width: 800px and 768px";
	}

	.row {
		width: 95%;
	}

	.push-1,
	.push-2,
	.push-3,
	.push-4,
	.push-5,
	.push-6,
	.push-7,
	.push-8,
	.push-9,
	.push-10,
	.push-11 {
		margin-left: 0;
	}

	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11 {
		width: 97.91666666666666%;
		margin: 0 1.0416666666666665% 20px;
	}

	.tablet-col-4 {
		width: 31.25%;
		margin: 0 1.0416666666666665% 20px;
	}

	.tablet-col-6 {
		width: 47.22222222222222%;
		margin: 0 1.0416666666666665% 20px;
	}

	.tablet-col-12 {
		width: 97.91666666666666%;
		margin: 0 1.0416666666666665% 20px;
	}

	.tablet-hide {
		display: none;
	}

	.tablet-show {
		display: block;
	}

	.container-9 {
		width: auto;
	}

	.main-menu {
		float: none;
		margin: 0 auto;
	}

	.main-header,
	.main-footer {
		text-align: center;
	}

	.header-contact {
		display: none;
	}

	.social_profiles {
		float: none;
	}


}



@media (max-width: 600px) {

	body {
		font-size: 14px;
	}

	.dev-body:before {
		content: "max-width: 600px;";
	}



	.property-grid {
		width: 47.91666666666667%;
	}

	.tablet-col-6,
	.mobile-col-6 {
		width: 47.22222222222222%;
	}

	.js-tab-content {
		display: block;
	}

	.property-tabs {
		display: none;
	}

}



@media (max-width: 480px) {

	body {
		font-size: 12px;
	}

	.dev-body:before {
		content: "max-width: 480px;"
	}

	.mobile-show {
		display: inline-block;
	}

	.tablet-col-6 {
		width: 97.91666666666666%;
	}

	.mobile-col-6 {
		width: 47.22222222222222%;
	}

	.tablet-hide {
		display: block;
	}

	.mobile-hide {
		display: none;
	}

	.post-image {
		float: none;
		display: block;
	}

}



@media (max-width: 320px) {

	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11 {
		width: 97.91666666666666%;
	}

	.dev-body:before {
		content: "max-width: 320px";
	}

	.property-grid {
		width: 97.91666666666666%;
	}

}