/*
    Base CSS
    unclassed elements
*/

html,
body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    color: #444;
    height: 100%;
}


a,
a:visited {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 1.5rem;
    max-width: 600px;
}


sup,
sub {
    font-size: 0.75em;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}



h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: .5em;
    color: #111;
}

h1,
.alpha {
    font-size: 2em; /* 34px */
}

h2,
.beta {
    font-size: 1.75em; /* 28px */
}

h3,
.gamma,
.standfirst {
    font-size: 1.5em; /* 22px */
}

h5,
.epilon {
    font-size: 1.125em;
}

h6,
.zeta {
    font-size: 1em;
    text-transform: uppercase;
}


.milli {
    font-size: 0.875em;
}


.content img {
    display: inline-block;
    margin-bottom: 20px;
}

.content ul,
.content ol {
    padding-left: 2em;
}

.content ol {
    list-style-type: decimal;
}

.content ul {
    list-style-type: disc;
}


/*
    Objects
    Base objects that are extended with components and patterns
*/

/*-- Nav Objects --*/

.nav,
ul.page-numbers {
    overflow: hidden;
}

.nav li,
ul.page-numbers li {
    /*float: left;*/
    display: inline-block;
}

.nav-stacked li {
    /*float: none;*/
    display: block;
}

.sub-menu {
    display: none;
}



/*-- Forms --*/

input,
textarea,
.input,
.textarea {
    border: 1px solid #ddd;
    color: #999;
    background-color: #fff;
    padding: 0.5em;
    font-size: 1em;
}

input:focus,
textarea:focus,
.input:focus,
.textarea:focus {
    color: #444;
}

/*-- Buttons --*/

.btn,
.btn:visited,
.comment-reply-link,
#submit {
    -webkit-appearance: none;
    display: inline-block;
    background-color: #2980b9;
    color: #fff;
    padding: 0.6em;
    border: 0;
    text-decoration: none;
}

.btn:hover,
.comment-reply-link:hover,
#submit:hover {
    background-color: #3498db;
    text-decoration: none;
    cursor: pointer;
}

.btn-large,
#submit {
    font-size: 1.25em;
}

.btn-booking {
    display: block;
    margin-bottom: 10px;
    background-image: url('../img/ah-logo.png');
    background-position: 95% center;
    background-repeat: no-repeat;
}

/*
    Components and Patterns
    Custom componenets and styling
*/


.pager-button {
    display: inline-block;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #aaa;
    cursor: pointer;
}

.pager-button:hover,
.cycle-pager-active {
    background-color: #888;
}



/*-- Pagination --*/

.pagination a,
a.page-numbers,
span.page-numbers {
    display: block;
    padding: .5em .8em;
    background-color: #eee;
    color: #444;
    line-height: 1em;
    margin: 0 1px;
}

.pagination a:hover,
a.page-numbers:hover,
span.page-numbers.current {
    text-decoration: none;
    background-color: #2980b9;
    color: #fff;
}


.section-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}



/*-- Featured Overlay --*/

.featured-overlay {
    position: relative;
    cursor: pointer;
}

.featured-image {
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}


.overlay-title {
    margin-bottom: 3px;
}

.overlay-title a,
.overlay-title a:visited,
.overlay-title a:hover {
    color: #fff;
}

.overlay-text {
    color: #eee;
    margin-bottom: 0;
    font-weight: normal;
}


/*-- Logo --*/

.main-logo {
    max-height: 100px;
    width: auto;
}


.header-contact {
    text-align: right;
    padding-top: 10px;
    width: 600px;
    float: right;
}


/*-- Footer --*/

.main-footer {
    font-size: 12px;
}

.footer-menu {
    margin-bottom: 5px;
}

.footer-menu li {
    margin-right: 5px;
}

/*-- Main Menu --*/

.main-menu {
    position: relative;
    float: right;
    overflow: visible;
}

.main-menu a {
    display: block;
}

.main-menu a:hover {
    text-decoration: none;
}

.main-menu li {
    position: relative;
    margin-left: 1em;
}

.main-menu li a {
    padding: 0.5em;
}

.main-menu li a:hover,
.main-menu li:hover,
.main-menu li:hover a {
    background-color: #2980b9;
    color: #fff;
    /*box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.2);*/
}

.main-menu li:hover .sub-menu {
    display: block;
    position: absolute;
    z-index: 99999;
    left: 0;
    min-width: 200px;
    /*box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.2);*/
}

.main-menu .sub-menu li {
    margin: 0;
    text-align: left!important;
    display: block;
}

.main-menu .sub-menu li a {
    margin: 0;
    padding: 0.5em;
    background-color: #2980b9;
    color: #fff;
}

.main-menu .sub-menu li a:hover {
    background-color: #fff;
    color: #2980b9;
    /*box-shadow: none;*/
}



/*-- Blog --*/
.post {
    margin-bottom: 20px;
}

.post-single {
    margin-bottom: 40px;
}

.post-archive {
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.post-title {
    margin-bottom: 5px;
}

.post-image {
    float: left;
    margin: 0 20px 20px 0;
    min-width: 220px;
    height: auto;
}

.post-readmore {
    float: right;
}


.sidebar {
    background-color: #eee;
    padding: 1em;
}

.widget {
    margin-bottom: 20px;
    font-size: 0.875em;
}

.widget-title {
    margin-bottom: .5em;
}


/*-- Comments --*/

#comments {
    margin-top: 20px;
}

.comments-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.comment {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    font-size: 0.875em;
}

.comment-author {
    float: left;
    overflow: hidden;
    margin: 0 5% 5% 0;
    width: 10%;
    /*font-size: 0.875em;*/
    text-align: center;
}

.comment-author .avatar {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.comment-author .says {
    display: none;
}

.comment-meta {
    margin-bottom: 5px;
}

.comment-reply-link {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.875em;
    /* button style attached above with .btn */
}

.form-allowed-tags {
    display: none;
}

#respond label,
#respond input,
#respond textarea {
    display: block;
}


/*-- Slideshow --*/

.slideshow {
    /*min-width: 960px;*/
    margin-bottom: 10px;
}

.slideshow-boxed {
    background-color: #fff;
    padding: 10px;
    /*box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.2);*/
}

.slideshow .slides {
    max-height: 530px;
    min-height: 180px;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 100%;
    margin-bottom: 0!important; /* .slideshow puts margin bottom */
}

.slide img {
    width: 100%;
    display: block;
}

.slide-overlay {
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding-top: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.slide-overlay .slide-title {
    font-size: 2.5em;
    color: #fff;
}



/*-- Property --*/

.property-tabs {
    padding-right: 1em;
    font-size: 0.875em;
}

.property-tabs a {
    display: block;
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;
}


.property-grid,
.property-list {
    float: left;
    overflow: hidden;
    margin: 0 1.0416666666666665% 20px;
}

.property-grid {
    width: 31.25%;
    display: block;
}

.property-grid .property-info {
    display: block;
    float: none;
}

.property-grid .property-details {
    display: none;
}

.property-image {
    float: left;
    /*width: 22.916666666666664%;*/
    width: 100%;
    height: auto;
    margin: 0 10px 5px 0;
}

.property-list {
    width:  97.91666666666666%;
    /*margin-bottom: 40px;*/
}

.property-list .property-image {
    width: 31.25%;
    margin-right: 1.0416666666666665%;
}

.property-list .property-info {
    float: left;
    width: 64.58333333333334%;
    margin-left: 1.0416666666666665%;
}

.property-list .property-details {
    display: block;
}



/*--- Social Links ---*/

.social_profiles {
    float: right;
}

/*
.social_profiles a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff !important;
}
*/

/* Facebook */
.social-facebook {
  background-color: #4F65A3;
}

.social-facebook:hover {
  background-color: #6d81b8;
}

/* Twitter */
.social-twitter {
  background-color: #33A6DE;
}

.social-twitter:hover {
  background-color: #5fb9e5;
}

/* RSS */
.social-rss {
  background-color: #aaa;
}

.social-rss:hover {
  background-color: #c3c3c3;
}



/*
    Modifiers
    These extend/overide objects and patterns
*/


.is-hidden {
    display: none;
}

.full-width {
    width: 100%;
    height: auto;
}



.center {
    text-align: center;
}

.right {
    text-align: right;
}

.section {
    padding: 1em 0;
    margin-bottom: 20px;
}

.slideshow-container {
    margin-top: -20px;
}

.block {
    background-color: #eee;
}

.circle {
    border-radius: 1000px;
}

.no-margin {
    margin-bottom: 0;
}
