/*
    Theme.css
    all the styles needed to customise the theme
*/


body {
    /* background colour */
    background-color: #fff;

    /* fonts */
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #444;
}



/* headings */
h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta  {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: .5em;
    color: #111;
}



/* link */
a,
a:visited,
.main-menu li a {
    color: #2980b9;
}



/* menu */
.main-menu li a:hover,
.main-menu li:hover,
.main-menu li:hover a,
.main-menu .sub-menu li a {
    background-color: #2980b9; /* #2980b9 */
    color: #fff;
}

.main-menu .sub-menu li a:hover {
    background-color: #fff;
    color: #2980b9;
}



/* Buttons */
.btn,
.btn:visited,
.comment-reply-link,
#submit {
    background-color: #2980b9;
    color: #fff;
}

/* button hover */
.btn:hover,
.comment-reply-link:hover,
#submit:hover {
    background-color: #3498db;
}




/* slideshow */
.pager-button {
    background-color: #aaa;
}

.pager-button:hover,
.cycle-pager-active {
    background-color: #eee;
}



/* border */
.post-archive,
.comments-title,
.comment,
.property-tabs a,
.section-title {
    border-bottom: 1px solid #eee;
}



/* pagination */
.pagination a,
a.page-numbers,
span.page-numbers {
    background-color: #eee;
    color: #444;
}

.pagination a:hover,
a.page-numbers:hover,
span.page-numbers.current {
    background-color: #2980b9;
    color: #fff;
}



/* section colors */
.main-header {
    background-color: #eee;
}

.main-footer {
    background-color: #eee;
}

.sidebar {
    background-color: #eee;
}