/*
Theme Name: Cahha
Theme URI: http://venncreative.co.uk
Description: Designed by Venn Creative
Template: classic
Version: 1.0
Author: Venn Creative
Author URI: http://venncreative.co.uk
License: GPL
*/


.member {
    padding-right: .75em;
    margin-bottom: 1.5em;
}

.main-logo {
    width: 300px;
    height: auto;
    max-height: none;
    max-width: none;
}